//-- copyright
// OpenProject is a project management system.
// Copyright (C) 2012-2015 the OpenProject Foundation (OPF)
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License version 3.
//
// OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
// Copyright (C) 2006-2013 Jean-Philippe Lang
// Copyright (C) 2010-2013 the ChiliProject Team
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
//
// See doc/COPYRIGHT.rdoc for more details.
//++

div.wiki
  font-size: $wiki-default-font-size
  $wiki-max-heading-font-size: 24px
  line-height: 1.6em

  // this should be the same as a normal heading (see toolbar)
  h1
    padding: 12px 0 0 0
    border: 0
    font-size: $wiki-max-heading-font-size
    line-height: 1.4
    height: 45px
  h2
    font-size: $wiki-max-heading-font-size * 0.8
  h3
    font-size: $wiki-max-heading-font-size * 0.6
  h4
    font-size: $wiki-max-heading-font-size * 0.5

  h2, h3
    margin: 1em 0 1em 0
    font-weight: bold
    color: #555555
    text-transform: none
    border-bottom: 1px solid #bbbbbb

  h2
    padding: 2px 10px 1px 0

  h3
    padding: 0 10px 1px 0
    border-bottom: 1px dotted #bbbbbb

  table
    border: 1px solid #505050
    border-collapse: collapse
    margin-bottom: 1em

  table, td, th
    border: 1px solid #bbb
    padding: 4px

  .external
    background-position: 0% 60%
    background-repeat: no-repeat
    padding-left: 12px
    background-image: image-url('external.png')

  pre
    margin: 1em 1em 1em 1.6em
    padding: 2px 2px 2px 0
    background-color: #fafafa
    border: 1px solid #dadada
    width: auto
    overflow-x: auto
    overflow-y: hidden

  ul.toc
    margin-bottom: 12px
    margin-right: 12px
    margin-left: 0
    display: table
    font-size: $wiki-toc-ul-font-size
    &.right
      float: right
      margin-left: 12px
      margin-right: 0
      width: auto
    &.left
      float: left
      margin-right: 12px
      margin-left: 0
      width: auto
    a
      font-weight: normal
      background-image: image-url('arrow-down.png')
      background-repeat: no-repeat
      background-position: 0% 60%
      padding-left: 16px
    li
      list-style-type: none

  ol, ul
    padding: 0 0 0 2em
    margin: 0.3em 0

  li
    list-style-position: outside
    margin: 0

  ol li
    list-style-type: decimal
    list-style-position: inherit

  ul li
    list-style-type: disc
    list-style-position: inherit

  li li
    margin-left: 1.5em
  fieldset.collapsible legend
    font-weight: bold
    font-size: $wiki-toc-header-font-size
  img
    vertical-align: middle

a.wiki-anchor
  display: none
  margin-left: 6px
  text-decoration: none
  &:hover
    color: #aaa !important
    text-decoration: none

h1:hover, h2:hover, h3:hover
  a.wiki-anchor
    display: inline
    color: #ddd

.wiki
  p
    margin-bottom: 1em
  p, span
    &.see-also, &.caution, &.important, &.info, &.tip, &.note
      display: block
      margin-top: .5em
      margin-bottom: .5em
      padding: 4px 4px 4px 48px
      min-height: 33px

    &.smallsee-also, &.smallcaution, &.smallimportant, &.smallinfo, &.smalltip, &.smallnote
      display: block
      margin-top: .5em
      margin-bottom: .5em
      padding: 4px 4px 4px 34px
      min-height: 24px

    &.see-also
      background: image-url('wiki_styles/see-also.png') 4px 4px no-repeat #f5fffa
      border: 1px solid #AAB1AD

    &.smallsee-also
      background: image-url('wiki_styles/see-also_small.png') 4px 4px no-repeat #f5fffa
      border: 1px solid #AAB1AD

    &.caution
      background: image-url('wiki_styles/caution.png') 4px 6px no-repeat #f5fffa
      border: 1px solid #AAB1AD

    &.smallcaution
      background: image-url('wiki_styles/caution_small.png') 4px 4px no-repeat #f5fffa
      border: 1px solid #AAB1AD

    &.important
      background: image-url('wiki_styles/important.png') 4px 7px no-repeat #F0F8FF
      border: 1px solid #C1C8CF

    &.smallimportant
      background: image-url('wiki_styles/important_small.png') 4px 6px no-repeat #F0F8FF
      border: 1px solid #C1C8CF

    &.info
      background: image-url('wiki_styles/info.png') 4px 4px no-repeat #FFFFE0
      border: 1px solid #FFFF00

    &.smallinfo
      background: image-url('wiki_styles/info_small.png') 4px 4px no-repeat #FFFFE0
      border: 1px solid #FFFF00

    &.smalltip
      background: image-url('wiki_styles/tip_small.png') 4px 5px no-repeat #F5FFFA
      border: 1px solid #C7CFCA

    &.note
      background: image-url('wiki_styles/note.png') 6px 4px no-repeat #F5FFFA
      border: 1px solid #C7CFCA

    &.smallnote
      background: image-url('wiki_styles/note_small.png') 5px 4px no-repeat #F5FFFA
      border: 1px solid #C7CFCA

  .quick_info .label
    background: none
    color: #000
    font-weight: bold
    font-size: $wiki-default-font-size

.wiki-content
  width: 700px
