<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<%= toolbar title: (@query.new_record? ? l(:label_calendar) : h(@query.name)) %>
<%= form_tag(work_packages_calendar_index_path, :method => :get, :id => 'query_form') do %>
  <%= hidden_field_tag('project_id', @project.to_param) if @project%>
  <fieldset id="filters" class="form--fieldset -collapsible collapsed" >
    <legend class="form--fieldset-legend" onclick="toggleFieldset(this);"><a href="javascript:"><%= l(:label_filter_plural) %></a></legend>
    <div class="" style="display: none;">
      <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
    </div>
  </fieldset>
  <fieldset class="simple-filters--container">
    <legend><%= l('timeframe.show') %></legend>
    <ul class="simple-filters--filters">
      <li class="simple-filters--filter">
        <%= label_tag('month', l(:label_month)) %>
        <%= select_month(@month, { :prefix => "month", :discard_type => true }, class: 'simple-filters--filter-value') %>
      </li>
      <li class="simple-filters--filter">
        <%= label_tag('year', l(:label_year)) %>
        <%= select_year(@year, { :prefix => "year", :discard_type => true }, class: 'simple-filters--filter-value') %>
      </li>
    </ul>
    <div class="simple-filters--controls">
      <%= link_to_remote l(:button_apply),
                       { :url => { :set_filter => 1 },
                         :method => :get,
                         :update => "content",
                         :with => "jQuery('#query_form').serialize()"
                       }, :class => 'button -highlight -small' %>
      <%= link_to_remote l(:button_clear),
                       { :url => { :project_id => @project, :set_filter => 1 },
                         :method => :get,
                         :update => "content",
                       }, :class => 'button -small -with-icon icon-undo' %>
    </div>
  </fieldset>
<% end %>
<%= error_messages_for 'query' %>
<% if @query.valid? %>
  <p style="float:right;">
    <%= link_to_previous_month(@year, @month, :project => @project) %> | <%= link_to_next_month(@year, @month, :project => @project) %>
  </p>
  <%= render :partial => 'common/calendar', :locals => {:calendar => @calendar} %>
  <p class="legend cal">
    <span class="starting"><%= l(:text_tip_work_package_begin_day) %></span>
    <span class="ending"><%= l(:text_tip_work_package_end_day) %></span>
    <span class="starting ending"><%= l(:text_tip_work_package_begin_end_day) %></span>
  </p>
<% end %>
<% content_for :sidebar do %>
  <%= render :partial => 'work_packages/sidebar' %>
<% end %>

<% html_title(l(:label_calendar)) -%>
