<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% content_for :header_tags do %>
  <%= javascript_include_tag 'repository_navigation' %>
<% end %>
<% merge ||= {} %>
<%= toolbar title: l(:label_repository) do %>
  <% if User.current.allowed_to?(:browse_repository, @project) %>
  <li class="toolbar-item">
    <%= link_to stats_project_repository_path(@project), class: 'button' do %>
      <i class="button--icon icon-stats1"></i>
      <span class="button--text"><%= l(:label_statistics) %></span>
    <% end %>
  </li>
  <% end %>
  <%= call_hook(:repositories_navigation_toolbar, { repository: @repository, project: @project }) %>
  <% if User.current.allowed_to?(:manage_repository, @project) %>
    <li class="toolbar-item">
      <%= link_to settings_project_path(@project, tab: 'repository') , class: 'button' do %>
        <i class="button--icon icon-settings"></i>
        <span class="button--text"><%= l(:label_settings) %></span>
      <% end %>
    </li>
  <% end %>
<% end %>
<div>
  <h3>
    <%= render :partial => 'breadcrumbs', :locals => { :path => @path, :revision => @rev }.merge(merge) %>
  </h3>
</div>
