<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% html_title(l(:label_administration), l(:label_project_plural)) -%>
<%= toolbar title: l(:label_project_plural) do %>
  <li class="toolbar-item">
    <%= link_to new_project_path, class: 'button -alt-highlight' do %>
      <i class="button--icon icon-add"></i>
      <span class="button--text"><%= l(:label_project_new) %></span>
    <% end %>
  </li>
<% end %>
<div class="attributes-group">
  <div class="attributes-group--header">
      <div class="attributes-group--header-container">
          <h3 class="attributes-group--header-text"><%= l(:label_information) %></h3>
      </div>
  </div>
  <dl class="attributes-key-value">
      <dt class="attributes-key-value--key"><%= l(:label_project_count) %></dt>
      <dd class="attributes-key-value--value-container">
          <div class="attributes-key-value--value -text">
              <span title="<%= l(:label_project_count) %>">
                <%= l(:label_x_projects, :count => Project.count) %>
              </span>
          </div>
      </dd>
      <dt class="attributes-key-value--key"><%= l(:label_required_disk_storage) %></dt>
      <dd class="attributes-key-value--value-container">
          <div class="attributes-key-value--value -text">
              <span title="0">
                <%= number_to_human_size(Project.total_projects_size, precision: 2) %>
              </span>
          </div>
      </dd>
  </dl>
</div>
<%= form_tag({}, :method => :get) do %>
  <fieldset class="simple-filters--container">
    <legend><%= l(:label_filter_plural) %></legend>
    <ul class="simple-filters--filters">
      <li class="simple-filters--filter">
          <label for='status'><%= Project.human_attribute_name(:status) %> :</label>
          <%= select_tag 'status', project_status_options_for_select(@status), :onchange => "this.form.submit(); return false;"  %>
      </li>
      <li class="simple-filters--filter">
          <label for='name'><%= Project.model_name.human %>:</label>
          <%= text_field_tag 'name', params[:name] %>
      </li>
    </ul>
    <div class="simple-filters--controls">
      <%= submit_tag l(:button_apply), :class => 'button -highlight -small', :name => nil %>
      <%= link_to l(:button_clear), {:controller => '/admin', :action => 'projects'}, :class => 'button -small -with-icon icon-undo' %>
    </div>
  </fieldset>
<% end %>
&nbsp;
<div class="generic-table--container">
  <div class="generic-table--results-container">
    <table role="grid" class="generic-table">
      <colgroup>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col highlight-col>
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%=  Project.model_name.human %>
                </span>
              </div>
            </div>
          </th>
          <th>            
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%=  Project.human_attribute_name(:is_public) %>                
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%=  l(:label_required_disk_storage) %>
                </span>
              </div>
            </div>
          </th>
          <th>
            <div class="generic-table--sort-header-outer">
              <div class="generic-table--sort-header">
                <span>
                  <%=  Project.human_attribute_name(:created_on) %>
                </span>
              </div>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% project_tree(@projects) do |project, level| %>
          <tr class="<%= project.css_classes %> <%= level > 0 ? "idnt idnt-#{level}" : nil %>">
            <td class="name"><span><%= link_to project, settings_project_path(project), :title => project.short_description %></span></td>
            <td><%= checked_image project.is_public? %></td>
            <td><%= number_to_human_size(project.required_disk_space, precision: 2) if project.required_disk_space.to_i > 0 %></td>
            <td><%= format_date(project.created_on) %></td>
            <td class="buttons">
              <%= link_to(l(:button_archive),
                  archive_project_path(project, :status => params[:status]),
                  data: { confirm: l(:text_are_you_sure) },
                  :method => :put,
                  :class => 'icon icon-locked') if project.active? %>
              <%= link_to(l(:button_unarchive),
                  unarchive_project_path(project, :status => params[:status]),
                  :method => :put,
                  :class => 'icon icon-unlocked') if !project.active? && (project.parent.nil? || project.parent.active?) %>
              <%= link_to(l(:button_copy),
                  copy_from_project_path(project, :admin),
                  :class => 'icon icon-copy') %>
              <%= link_to(l(:button_delete),
                  confirm_destroy_project_path(project),
                  :class => 'icon icon-delete') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="generic-table--header-background"></div>
  </div>
</div>
