<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% html_title l(:label_administration), l("label_type_plural") %>
<%= toolbar title: l(:label_type_plural) do %>
  <li class="toolbar-item">
    <%= link_to new_type_path, class: 'button -alt-highlight' do %>
      <i class="button--icon icon-add"></i>
      <span class="button--text"><%= l(:label_type_new) %></button>
    <% end %>
  </li>
<% end %>

<table class="list timelines-pet">
  <thead>
    <tr>
      <th class="timelines-pet-name">
        <%= Type.human_attribute_name(:name) %>
      </th>
      <th></th>
       <!-- Missing workflow warning -->
      <th class="timelines-pet-color">
        <%= Type.human_attribute_name(:color) %>
      </th>
      <th class="timelines-pet-is_default">
        <%= Type.human_attribute_name(:is_default) %>
      </th>
      <th class="timelines-pet-in_aggregation" title="<%= l('timelines.work_packages_are_displayed_in_aggregations') %>">
        <%= Type.human_attribute_name(:in_aggregation) %>
      </th>
      <th class="timelines-pet-is_milestone">
        <%= Type.human_attribute_name(:is_milestone) %>
      </th>
      <th><%=l(:button_sort)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for type in @types %>
      <tr class="<%= cycle("odd", "even") %>">
        <td class="timelines-pet-name"><%= link_to type.name, edit_type_path(type) %></td>
        <td align="center"><% if type.workflows.empty? %><span class="icon-context icon-warning"><%= l(:text_type_no_workflow) %> (<%= link_to l(:button_edit), {:controller => '/workflows', :action => 'edit', :type_id => type} %>)</span><% end %></td>
        <td class="timelines-pet-color"><%= icon_for_type type %></td>
        <td class="timelines-pet-is_default"><%= checked_image(type.is_default) %></td>
        <td class="timelines-pet-in_aggregation"><%= checked_image(type.in_aggregation) %></td>
        <td class="timelines-pet-is_milestone"><%= checked_image(type.is_milestone) %></td>
        <td class="timelines-pet-reorder"><%= reorder_links('type', {:action => 'move', :id => type}) %></td>
        <td class="buttons">
          <% if !type.is_standard? %>
            <%= link_to type, :method => :delete, data: { confirm: t(:text_are_you_sure) }, :class => 'icon-context icon-delete' do %>
              <%= t(:button_delete) %>
              <span class="hidden-for-sighted"><%=h type.name %></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pagination_links_full @types %>
