<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<% roles = Role.find_all_givable %>
<% projects = Project.active.order('lft') %>

<div class="grid-block">
  <div class="grid-content">
  <% if @user.memberships.any? %>
    <table class="list memberships">
      <thead>
        <tr>
          <th><%= Project.model_name.human %></th>
          <th><%= l(:label_role_plural) %></th>
          <th style="width:15%"></th>
          <%= call_hook(:view_users_memberships_table_header, :user => @user )%>
        </tr>
      </thead>
      <tbody>
        <% @user.memberships.each do |membership| %>
          <% next if membership.new_record? %>
            <tr id="member-<%= membership.id %>" class="<%= cycle 'odd', 'even' %> class">
              <td class="project">
                <%= link_to_project membership.project %>
              </td>
              <td class="roles">
                <span id="member-<%= membership.id %>-roles"><%=h membership.roles.sort.collect(&:to_s).join(', ') %></span>
                <%= labelled_tabular_form_for(:membership, :remote => true,
                              :url => edit_membership_user_path(:id => @user, :membership_id => membership),
                              :html => { :id => "member-#{membership.id}-roles-form", :style => 'display:none;'}) do %>
                  <div>
                    <% roles.each do |role| %>
                      <label class="form--label-with-check-box">
                        <%= styled_check_box_tag 'membership[role_ids][]', role.id, membership.roles.include?(role),
                                                           :disabled => membership.member_roles.detect {|mr| mr.role_id == role.id && !mr.inherited_from.nil?} %>
                        <%= role %>
                      </label>
                    <% end %>
                  </div>
                  <p><%= submit_tag l(:button_change), class: 'button -highlight -small' %>
                    <%= link_to_function l(:button_cancel),
              "$('member-#{membership.id}-roles').show(); $('member-#{membership.id}-roles-form').hide(); return false;",
              class: 'button -small' %></p>
                <% end %>
              </td>
              <td class="buttons">
                <%= link_to_function l(:button_edit), "$('member-#{membership.id}-roles').hide(); $('member-#{membership.id}-roles-form').show(); return false;", :class => 'icon icon-edit' %>
                <%= link_to(l(:button_delete), { :controller => 'users',
                                       :action => 'destroy_membership',
                                       :id => @user,
                                       :membership_id => membership },
                                      :remote => true,
                                      :method => :post,
                                      :class => 'icon icon-delete') if membership.deletable? %>
              </td>
              <%= call_hook(:view_users_memberships_table_row, :user => @user, :membership => membership, :roles => roles, :projects => projects )%>
            </tr>
          <% end; reset_cycle %>
        </tbody>
      </table>
    <% else %>
      <p class="nodata"><%= l(:label_no_data) %></p>
    <% end %>
  </div>
  <div class="grid-content">
    <% if projects.any? %>
      <%= labelled_tabular_form_for(:membership, :url => {:controller => 'users',
                                   :action => 'edit_membership',
                                   :id => @user,
                                   :membership_id => nil },
             :remote => true, :html => {:id => "new_project_membership"}) do %>
        <fieldset class="form--fieldset">
          <legend class="form--fieldset-legend"><%=l(:label_project_new)%></legend>
          <%= styled_select_tag 'membership[project_id]', options_for_membership_project_select(@user, projects) %>
          <div class="form--field -vertical">
            <%= styled_label_tag nil, "#{l(:label_role_plural)}:" %>
            <div class="form--field-container -vertical">
              <%= labeled_check_box_tags 'membership[role_ids][]', roles %>
            </div>
          </div>
          <div><%= styled_button_tag l(:button_add), class: '-highlight -with-icon icon-yes' %></div>
        </fieldset>
      <% end %>
    <% end %>
  </div>
</div>
