<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>
<% if @project.categories.any? %>
  <table class="list">
    <thead>
      <tr>
        <th><%= Category.model_name.human %></th>
        <th><%= Category.human_attribute_name(:assigned_to) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for category in @project.categories %>
        <% unless category.new_record? %>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td><%=h(category.name) %></td>
            <td><%=h(category.assigned_to.name) if category.assigned_to %></td>
            <td class="buttons">
              <%= link_to_if_authorized l(:button_edit), { :controller => '/categories', :action => 'edit', :id => category }, :class => 'icon icon-edit' %>
              <%= link_to_if_authorized l(:button_delete),
                                { :controller => '/categories',
                                  :action => 'destroy',
                                  :id => category },
                                :method => :delete,
                                data: { confirm: l(:text_are_you_sure) },
                                :class => 'icon icon-delete' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
<p><%= link_to_if_authorized l(:label_work_package_category_new), :controller => '/categories', :action => 'new', :project_id => @project %></p>
