<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<% html_title l(:label_administration), l(:label_auth_source_plural) %>
<%= toolbar title: l(:label_auth_source_plural) do %>
  <li class="toolbar-item">
    <%= link_to({ action: 'new' }, class: 'button -alt-highlight') do %>
      <i class="button--icon icon-add"></i>
      <span class="button--text"><%= l(:label_auth_source_new) %></span>
    <% end %>
  </li>
<% end %>
<table class="list">
  <thead>
    <tr>
      <th><%= AuthSource.human_attribute_name(:name) %></th>
      <th><%= AuthSource.human_attribute_name(:type) %></th>
      <th><%= AuthSource.human_attribute_name(:host) %></th>
      <th><%= l(:label_user_plural)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for source in @auth_sources %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to source.name, :action => 'edit', :id => source %></td>
        <td align="center"><%= source.auth_method_name %></td>
        <td align="center"><%= source.host %></td>
        <td align="center"><%= source.users.count %></td>
        <td class="buttons">
          <%= link_to l(:button_test), { :action => 'test_connection', :id => source } %>
          <%= link_to l(:button_delete), { :action => 'destroy', :id => source },
                                     :method => :delete,
                                     data: { confirm: l(:text_are_you_sure) },
                                     :class => 'icon icon-delete',
                                     :disabled => source.users.any? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pagination_links_full @auth_sources %>
