<%#-- copyright
OpenProject is a project management system.
Copyright (C) 2012-2015 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.rdoc for more details.

++#%>

<%= error_messages_for project %>

<!--[form:project]-->

<section class="form--section">
  <%= render partial: "projects/form/project_attributes",
             locals: { project: project,
                       form: f } %>

  <%= call_hook(:view_projects_form,
                project: project,
                form: f) %>
</section>

<% if project.new_record? %>
  <div>
    <%= render partial: "projects/form/modules",
               locals: { form: f } %>
  </div>

  <%= javascript_tag 'observeProjectModules();' %>
<% else %>

  <%= render partial: "projects/form/required_storage",
             locals: { project: project, storage: project.count_required_storage } %>

<% end %>

<% if (project.new_record? || project.module_enabled?('work_package_tracking')) && renderTypes %>
  <div>
    <%= render partial: 'projects/form/types',
               locals: { f: f,
                         project: project } %>
  </div>
<% end %>

<% unless @issue_custom_fields.empty? %>
  <%= render partial: "projects/form/custom_fields",
             locals: { project: project,
                       form: f,
                       work_package_custom_fields: @issue_custom_fields } %>
<% end %>
<!--[eoform:project]-->
