<div class="attributes-group">

  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text">
        {{ I18n.t('js.label_description') }}
      </h3>
    </div>
  </div>

  <div class="single-attribute wiki">
    <work-package-field field="'description'"></work-package-field>
  </div>
</div>

<div ng-repeat="group in vm.groupedFields" ng-hide="vm.hideEmptyFields && vm.isGroupHideable(vm.groupedFields, group.groupName, vm.workPackage)" class="attributes-group">

  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text"
        ng-bind="I18n.t('js.work_packages.property_groups.' + group.groupName)"></h3>
    </div>
    <div class="attributes-group--header-toggle">
      <panel-expander tabindex="-1" ng-if="vm.showToggleButton() && $first"
        collapsed="vm.hideEmptyFields"
        expand-text="{{ I18n.t('js.label_show_attributes') }}"
        collapse-text="{{ I18n.t('js.label_hide_attributes') }}">
      </panel-expander>
    </div>
  </div>

  <dl class="attributes-key-value">
    <dt
        ng-hide="vm.hideEmptyFields && vm.isFieldHideable(vm.workPackage, field)"
        ng-if="vm.isSpecified(vm.workPackage, field)"
        ng-repeat-start="field in group.attributes" class="attributes-key-value--key">
        {{vm.getLabel(vm.workPackage, field)}}
        <span class="required" ng-if="vm.hasNiceStar(vm.workPackage, field)"> *</span>
    </dt>
    <dd
        ng-hide="vm.hideEmptyFields && vm.isFieldHideable(vm.workPackage, field)"
        ng-if="vm.isSpecified(vm.workPackage, field)"
        ng-repeat-end
        class="attributes-key-value--value-container">
      <work-package-field field="field"></work-package-field>
    </dd>
  </dl>
</div>

<work-package-attachments edit work-package="vm.workPackage"></work-package-attachments>

<div class="attributes-group">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text">{{ I18n.t('js.label_latest_activity') }}</h3>
    </div>
  </div>

  <exclusive-edit>
    <ul class='work-package-details-activities-list'>
      <li ng-repeat="activity in activities | latestItems:activitiesSortedInDescendingOrder:3"
          class="work-package-details-activities-activity"
          ng-init="currentAnchor = 'note-' + ($index+1);
                   activityNo = activities.length - $index;
                   isInitial = isInitialActivity(activity, activityNo);">
        <activity-entry work-package="workPackage"
                        activity="activity"
                        activity-no="activityNo"
                        is-initial="isInitial"
                        autocomplete-path="autocompletePath"
                        input-element-id="'add-comment-text'">
        </activity-entry>
      </li>
    </ul>
    <activity-comment work-package="workPackage"
                      activities="activities"
                      autocomplete-path="{{ autocompletePath }}">
    </activity-comment>
  </exclusive-edit>
</div>
