<div class="work-packages--attachments">
  <div class="attributes-group--header">
    <div class="attributes-group--header-container">
      <h3 class="attributes-group--header-text">
        {{ ::I18n.t('js.label_attachments') }}
      </h3>
    </div>
  </div>
  <div data-ngf-drop data-ng-model="files" data-ng-model-rejected="rejectedFiles" data-ngf-select class="work-package--attachments--drop-box"
       data-ngf-multiple="true" data-ngf-change="instantUpload()" data-ngf-max-size="{{::maximumFileSize}}">
    <p class="work-package--attachments--label">{{ ::I18n.t('js.label_drop_files') }}</p>
    <p class="work-package--attachments--hint">{{ ::I18n.t('js.label_drop_files_hint') }}</p>
  </div>
  <div class="work-package--attachments--files" data-ng-show="attachments.length > 0">
    <ul>
      <li data-ng-repeat="attachment in attachments">
        <attachment-icon type="attachment.contentType"></attachment-icon> <a class="filename" data-ng-href="{{attachment._links.downloadLocation.href}}" download>{{attachment.fileName}}</a><span class="filesize">({{::size(attachment.fileSize)}})</span>
        <button data-ng-click="remove(attachment)" data-ng-disabled="deleting(attachment)" class="button -with-icon icon-delete -tiny" title="{{::I18n.t('js.label_remove_file')}}">{{::I18n.t('js.label_remove_file')}}</button>
      </li>
    </ul>
  </div>
</div>
