//-- copyright
// OpenProject is a project management system.
// Copyright (C) 2012-2015 the OpenProject Foundation (OPF)
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License version 3.
//
// OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
// Copyright (C) 2006-2013 Jean-Philippe Lang
// Copyright (C) 2010-2013 the ChiliProject Team
//
// This program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public License
// as published by the Free Software Foundation; either version 2
// of the License, or (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with this program; if not, write to the Free Software
// Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
//
// See doc/COPYRIGHT.rdoc for more details.
//++


// IMPORTANT!

// This is a "junk-drawer" containing CSS rule sets that could not be easily
// placed elsewhere. Pleade DO NOT add to this file. Instead MOVE, refactor or
// REMOVE with ruthlessness.

#watchers
  ul
    margin: 0
    padding: 0

  a.delete
    opacity: 0.4
    &:hover
      opacity: 1

.highlight
  background-color: #FCFD8D
  &.token-1
    background-color: #faa
  &.token-2
    background-color: #afa
  &.token-3
    background-color: #aaf

.contextual
  float: right
  white-space: nowrap
  line-height: 1.4em
  margin-top: 8px
  padding-left: 10px
  input, select
    font-size: 0.9em

.message .contextual
  margin-top: 0

form
  display: inline

hr
  width: 100%
  height: 1px
  background: #ccc
  border: 0

blockquote
  font-style: italic
  border-left: 3px solid #e0e0e0
  padding-left: 0.6em
  margin-left: 2.4em
  blockquote
    margin-left: 0

li p
  margin-top: 0

p
  &.breadcrumb
    font-size: 0.9em
    margin: 4px 0 4px 0
  &.footnote
    font-size: 0.9em
    margin-top: 0
    margin-bottom: 0

div.issue div.subject
  div div
    padding-left: 16px
  p
    margin: 0
    margin-bottom: 0.1em
    font-size: 90%
    color: #999
  > div > p
    margin-top: 0.5em

.buttons
  margin-bottom: 1.4em
  margin-top: 1em

div
  &#work_package-changesets
    float: right
    width: 45%
    margin: 1em 0 1em 1em
    background: #fff
    padding-left: 1em
    h3
      margin-top: 0
    div.changeset
      padding: 4px
      border-bottom: 1px solid #ddd
    p
      margin-top: 0
      margin-bottom: 1em
  &#activity dl
    margin-left: 2em

#search-results
  margin-left: 2em

div#activity dd, #search-results dd
  margin-bottom: 1em
  padding-left: 18px
  font-size: 0.9em

div#activity
  dt
    &.me .time
      border-bottom: 1px solid #999
    .time
      color: #777
      font-size: 80%
  dd .description
    font-style: italic

#search-results dd .description
  font-style: italic

div#activity span.project:after, #search-results span.project:after
  content: " -"

div#activity dd span.description
  display: block
  color: #808080

#search-results dd
  span.description
    display: block
    color: #808080
  margin-bottom: 1em
  padding-left: 20px
  margin-left: 0

div#search-results-counts
  float: right
  ul
    margin-top: 0.5em
  li
    list-style-type: none
    float: left
    margin-left: 1em

.search-pagination
  text-align: center
  a
    padding: 0 5px

#project-search-container .select2-container
  display: block

div
  &#roadmap
    .related-issues
      border: 0
      margin-bottom: 1em
      td.checkbox
        display: none
    .wiki
      h1
        &:first-child
          display: none
        font-size: 120%
      h2
        font-size: 110%
  &#version-summary
    float: right
    width: 380px
    margin-left: 16px
    margin-bottom: 16px
    background-color: #fff
    .total-hours
      text-align: right

.top-page
  width: 100%
  border-bottom: 1px solid #bbbbbb
  margin: 0 0 10px
  h2
    padding-right: 0 !important
    border: none
    margin: 0
    text-align: left
    display: block
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
  ul
    margin: 0
    text-align: right
    white-space: nowrap

ul.projects
  margin: 0
  padding-left: 1em
  &.root
    margin: 0
    padding: 0
  ul
    border: none
    &.projects
      border-left: 3px solid #e0e0e0
  li
    &.root
      list-style-type: none
      margin-bottom: 1em
    &.child
      list-style-type: none
      margin-top: 1em
  div.root a.project
    font-weight: bold
    margin: 0 0 10px 0

#type_project_ids
  ul
    margin: 0
    padding-left: 1em
  li
    list-style-type: none

ul.properties
  padding: 0
  font-size: 0.9em
  color: #333
  li
    list-style-type: none
    span
      font-style: italic

.total-hours
  font-size: 110%
  font-weight: bold
  span.hours-int
    font-size: 120%

.autoscroll
  overflow-x: auto
  padding: 1px
  margin-bottom: 1.2em

#workflow_copy_form select
  width: 200px

textarea#custom_field_possible_values
  width: 99%


div.attachments
  margin-top: 12px
  p
    margin: 4px 0 2px 0
  img
    vertical-align: middle
  span.author
    font-size: 0.9em
    color: #888

p.other-formats
  font-size: 0.9em
  color: #666

.other-formats span + span:before
  content: "| "

/* Project members tab */

div#tab-content-members
  .user.status_registered, label.status_registered
    opacity: 0.8

input#user_search
  width: 100%

.quick_info
  padding-bottom: 0.5em
  &.attributes .label
    font-weight: bold

#activity dt
  clear: left

.journal-link
  float: right

h2 img
  vertical-align: middle

h1.title
  margin: 12px 24px 9px

form#issue-list
  position: relative

div.issue hr
  margin-top: 10px
  margin-bottom: 10px
  clear: both

#content div.issue h3, div.issue h3
  border: 0
  margin-top: -6px
  margin-bottom: 0

#content div.issue table
  td
    background: none
    border: 0 none
    padding: 0 3px
    padding-left: 0
  th
    background: none
    border: 0 none
    padding: 0 3px
    padding-left: 0
    font-weight: bold

.attachments h4
  margin-bottom: 6px
  background: image-url("files-showhide.png") no-repeat right bottom
  cursor: pointer
  &.closed
    background-position: right 5px

table.files
  display: table

#content table.files
  td
    border: 0
    background: none
  th
    border: 0
    background: none
    font-weight: bold
    padding: 1px
  border: 0
  background: none
  td
    color: #555
    padding: 1px
  .opt-desc
    width: 60%
  td a
    position: relative

#content blockquote
  padding-left: 22px

.wiki
  ol, ul
    padding-left: 22px

blockquote
  font-style: italic
  background: image-url("blockquote-bg.png") no-repeat 5px 3px

#project-links
  right: 30px
  color: #ccc
  font-weight: bold

.nosidebar
  blockquote
    margin: 1em 0
  p
    margin-bottom: 1em

li
  &.root
    margin-bottom: 24px

.nosidebar ul.projects
  margin: 24px 0 0
  ul
    margin: 0

.nosidebar ul.projects li
  list-style: none outside none
  background: none

ul.projects
  a
    font-weight: bold
  li div.root
    margin-bottom: 12px

.profile-wrap
  float: right
  position: relative
  width: 42px
  height: 42px
  top: 7px
  right: 14px

/* file table hovers */

a.has-thumb
  img
    position: absolute
    display: none
    border: 1px solid #a6c6cf
    padding: 4px
    background: #fff
    border-radius: 3px
  &.active
    left: -10px
    background: image-url("thumb-arrow-right.png") no-repeat left center
    padding-left: 10px
    margin-right: -10px

td.issue div.issue-wrap-outer
  position: relative

.menu li
  position: relative
  &:first-child
    border-top: 0
  &:last-child
    border-bottom: 0

.inline
  display: inline

form#issue-list
  display: block

.js-tooltip
  width: 100%

.js-tooltip-inner
  width: 100%
  max-height: none

.js-tooltip .issue-tooltip-description
  max-height: 200px
  overflow: hidden

/* roadmap breathing */

#roadmap h3
  margin: 21px 0 12px

tr.context-menu-selection td.priority
  background: none !important

ul.projects div.root a.project
  font-family: inherit

div.issue div#relations
  margin-top: 25px

/* all kinds of wonderful tweaks*/

.question pre
  color: #111

div.issue hr
  width: auto

.question .wiki
  margin: 0

.wiki
  ol, ul
    margin-bottom: 6px

#content
  h3
    margin: 12px 0 6px
  h2 + h3
    margin-top: 12px

.nosidebar
  ol.ui-sortable li
    list-style: none outside none

tr.time-entry
  white-space: normal

/* scm */

#content table .changeset td.id a:hover
  text-decoration: underline

#content table.files .opt-desc
  width: 45%

/* member settings [pc] */

select#member_role_id
  width: 75px

/* fix for thumbnail jankiness */

a.has-thumb
  &.active
    left: auto
    margin-left: -10px
    margin-right: 0
    *left: -10px
    /* IE6 & 7 hacks */
    *margin-left: 0
  img
    z-index: 1001

#more-menu.drop-down ul li a.projects
  border-top: 1px solid #555

.reorder-icons img
  padding-right: 3px
  padding-left: 3px



/* Cut of text with '...' - working on all major browsers and IE6+
 * not working for Firefox < 7 */

.ellipsis
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  -o-text-overflow: ellipsis
  -ms-text-overflow: ellipsis

label.label-with-input
  display: block
  white-space: nowrap
  zoom: 1
  margin-left: 0
  float: none

#query_form_content
  padding-top: 10px

#lower-title-bar
  div.contextual
    margin-top: -8px
  margin-top: 30px
  margin-left: 10px

#watchers .contextual
  margin-top: 0

div
  &.issues.box > p, &.mypage-box p
    margin-top: 15px

  &.overview
    padding: 6px
    margin-bottom: 10px
    line-height: 1.5em

td.table-buttons
  vertical-align: middle

select#available_columns
  margin-right: 0

.pages-hierarchy
  padding-left: 10px
  list-style-type: disc
  list-style-position: inside

#menu-sidebar.hidden
  display: none

div#watchers
  margin-top: 25px
  > form > p
    margin-top: 5px

a > img.imgtag-icon
  float: left
  margin-right: 3px

th.checkbox img
  margin-left: 3px
  margin-top: 3px

p.buttons
  margin-left: 10px

div.contextual > a.icon, p.buttons > a, ul.action_menu_main > li
  padding-right: 10px

strong.related-issues-heading
  display: block
  margin-top: 10px

div.indent
  padding-left: 10px

/* Menu item configuration */

.menu-item-form
  p
    padding-left: 0
  label
    display: inline-block
    margin-bottom: 10px
    margin-left: 0
    width: auto
    font-weight: bold
  select#parent_wiki_menu_item
    margin-left: 7px
    margin-top: -1px
  #item-name
    float: left
    padding-left: 3px
    margin-right: 4px
    line-height: 21px
  label#with-select
    margin-left: 0
  select#parent_wiki_menu_item_wiki_page
    margin-bottom: 10px
  p
    &.item-name
      padding-top: 10px
    &.main_item
      padding-bottom: 0
    &.wiki_menu_item_optional_links
      margin-left: 10px
      padding-top: 0

#content
  #history
    background: image-url("dotted-separator.gif") repeat-x scroll 0 bottom transparent
  .wiki-content
    p, li
      width: 700px

/*Cost-Plugin specific styles */

input::-webkit-input-placeholder, :-moz-placeholder
  color: #000000

#ui-dialog-closer
  background-image: image-url("modal_close.png")
  cursor: pointer
  height: 33px
  position: absolute
  right: -15px
  top: -15px
  width: 33px
  z-index: 5000

h4.comment
  margin-bottom: 8px
  margin-top: 18px
  img
    margin-right: 3px

/*
 * Legacy headings to create headings which are similiar to the toolbar
 * but cannot use the toolbar yet (e.g Legacy forms)
 */
.legacy-heading
  // this will harmonize the headings in the old legacy form
  // to be the same as if using a toolbar component
  // TODO: once WP full screen create hits, remove this
  padding-top: 12px
  border: 0
  @include breakpoint(medium down)
    font-size: $h2-font-size
